# ENV for docker compose and code gen
# Default environment settings
NODE_ENV=development
# NODE_ENV=production
PORT=3000
APP_IP=10.0.8.5
FUNCTION_IP=10.0.8.4
SERVERLESS_URL=http://${FUNCTION_IP}:8000
# Name project
PROJECT_NAME=dormitory
#for production
#PROD_APP_IP=10.0.8.99